@model SIGE.Models.AsistenciaMateria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AsistenciaMateria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatPorDiaHorarioFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatPorDiaHorarioFK.CodMatPorDiaHorario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsistenciaEstudianteFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsistenciaEstudianteFk.CodAsistenciaEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asistio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asistio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodAsistenciaMateria">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
