@model SIGE.Models.MatPorDiaHorario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MatPorDiaHorario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MateriaProfesorFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MateriaProfesorFK.Profesor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasHorarioFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasHorarioFK.TurnoEscolar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasMateriaFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasMateriaFK.CodHorasMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AulaFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AulaFK.NomAula)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodMatPorDiaHorario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
