@model IEnumerable<SIGE.Models.HorarioTiempoLibre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiaHorarioFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoLibreFK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiaHorarioFK.TurnoEscolar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoLibreFK.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodHorarioTiempoLibre">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodHorarioTiempoLibre">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodHorarioTiempoLibre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
