@model SIGE.Models.Asignacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asignacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerdioEvaluacionFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerdioEvaluacionFK.CodPeriodoEvaluacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MateriaFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MateriaFK.NomMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoFk.Grado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArchivosEvaluacionFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArchivosEvaluacionFk.ContentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroEvaluacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroEvaluacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAsignacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAsignacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaConclusion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaConclusion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodAsignacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
